{% extends 'index.html' %}
{% block title %}
        <title>
            Lista de Cafes creados
        </title>
{% endblock title  %}

{% block mi_h1 %}
<h1 class="mb-5">Lista de Cafes creados</h1>
{% endblock mi_h1 %}
{% block afterheader %} 
<p>
    <a href={% url 'creacion_cafe' %}>Crear Cafe</a>
</p>
<form action={% url 'listado_cafes' %}>
    {{form}}
    <button> Buscar </button>
</form>
<p>
    {% if listado_cafes %}
    <ul>
        {% for cafe  in listado_cafes  %}
        <li>
            {{cafe}}
            <a href={% url 'editar_cafe' cafe.id %}>editar</a>
            <a href={% url 'borrar_cafe' cafe.id %}>borrar</a>
            <a href={% url 'mostrar_cafe' cafe.id %}>mostrar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    No hay cafes con ese nombre!    
    {% endif %}
 
</p>

{% endblock afterheader  %}